# Copy this file to secrets.yaml and fill in your values
# secrets.yaml is gitignored and will not be committed

# WiFi
wifi_ssid: "your-wifi-ssid"
wifi_password: "your-wifi-password"

# Network
gateway: "192.168.x.1"
subnet: "255.255.255.0"

# Device 1
device_1_name: "ble-proxy-xxxxxx"
device_1_friendly_name: "My BLE Proxy 1"
device_1_ip: "192.168.x.x"
device_1_api_key: "base64-encoded-api-encryption-key"
device_1_manifest_path: "esphome-web-xxxxxx"

# Device 2
device_2_name: "ble-proxy-xxxxxx"
device_2_friendly_name: "My BLE Proxy 2"
device_2_ip: "192.168.x.x"
device_2_api_key: "base64-encoded-api-encryption-key"
device_2_manifest_path: "esphome-web-xxxxxx"

# Device 3
device_3_name: "ble-proxy-xxxxxx"
device_3_friendly_name: "My BLE Proxy 3"
device_3_ip: "192.168.x.x"
device_3_api_key: "base64-encoded-api-encryption-key"
device_3_manifest_path: "esphome-web-xxxxxx"

# Device 4
device_4_name: "ble-proxy-xxxxxx"
device_4_friendly_name: "My BLE Proxy 4"
device_4_ip: "192.168.x.x"
device_4_api_key: "base64-encoded-api-encryption-key"
device_4_manifest_path: "esphome-web-xxxxxx"

# Device 5
device_5_name: "ble-proxy-xxxxxx"
device_5_friendly_name: "My BLE Proxy 5"
device_5_ip: "192.168.x.x"
device_5_api_key: "base64-encoded-api-encryption-key"
device_5_manifest_path: "esp32-bluetooth-proxy-xxxxxx"

# Device 6
device_6_name: "ble-proxy-xxxxxx"
device_6_friendly_name: "My BLE Proxy 6"
device_6_ip: "192.168.x.x"
device_6_api_key: "base64-encoded-api-encryption-key"
device_6_manifest_path: "esp32-bluetooth-proxy-xxxxxx"
